
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }
    header {
      background: #333;
      color: #fff;
      padding: 15px 20px;
      text-align: center;
      position: sticky;
      top: 0;
    }
    nav a {
      color: #fff;
      margin: 0 10px;
      text-decoration: none;
    }
    section {
      padding: 50px 20px;
      max-width: 900px;
      margin: auto;
    }
     section#about,section#skills,section#projects,section#contact{
      scroll-margin-block:200px;
    }
    h1, h2 {
      text-align: center;
    }
    .skills, .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      margin-top: 20px;

    }
    .card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      text-align: center;
      transition: 0.3s; /*เมื่อเมาส์ชี้จะขยายช้าลง*/
    }
    .card:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    footer {
      background: #333;
      color: #fff;
      text-align: center;
      padding: 15px;
      margin-top: 30px;
    }
 